@{
    int valor = ViewBag.usuario;
}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mi aplicación ASP.NET MVC</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/Content/IntelliStyle.css" rel="stylesheet" />
    </head>
    <body>
        @*jQuery Mobile Swipe*@
        <div class="header">
            <input id="input_buscar" class="header_item label-header-negro" value="" />
            <img id="img_buscar" class="header_item" src="~/Images/lupa.png" />
            <div id="content_container">
                <img id="img_btn_responsive" class="header_item" src="~/Images/button.png" />
                <img src="Model.Content/Images/button.png" />
                <div id="items_container">
                    <button id="btn_iniciar" class="header_item label-header logout">Iniciar Sesion</button>
                    <button id="btn_registrar" class="header_item label-header logout">Registrarse</button>
                    <button id="btn_carrito" class="header_item label-header login">@valor</button>
                    <button id="btn_cerrar" class="header_item label-header login">Cerrar Sesion</button>
                </div>
            </div>  
        </div>

        @RenderBody()

        <div class="header">
            
        </div>

        <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/jquery.blockUI.js"></script>
        <script src="~/Scripts/functions.js"></script>
        <script src="~/Scripts/event-listeners.js"></script>

    </body>
</html>
