@{
    Layout = null;
}

<div class="menu_horizontal">
    <a id="perfiladm">Perfil</a>
    <a id="empresas">Empresa</a>
    <a id="usuarios">Usuarios</a>
    <a id="productos">Productos</a>
    <a id="propiedades">Propiedades</a>
    <a id="saliradm">Salir</a>
</div>

<div id="render_adm"></div>

@*______________________dialogos_______________________*@

<div id="dialogopropiedad"></div>

<div id="dialogovalor">
    <table>
        <tr>
            <td><label class="label-blanco">Nombre del Valor</label></td>
        </tr>
        <tr>
            <td>
                <input id="nombrevalor" />
            </td>
        </tr>
        <tr>
            <td>
                <button id="cerrarvalor">Cancelar </button>
                <button id="agregarvalor">Agregar</button>
                <button id="actualizarvalor">Actualizar</button>
            </td>
        </tr>
    </table>
</div>

